{% extends "base.html" %}
{% block title %}TEVMUN — Food{% endblock %}
{% block menu %}{% include 'menu_en.html' %}{% endblock %}

{% block content %}
    <section class="welcome">
        <h1>Food</h1>
        <p class="subtitle">What's on the menu</p>
    </section>

    <section class="organisers-note">
        <h2>Meals at TEVMUN</h2>
        <p>a block to write smth about our food </p>
    </section>
{% endblock %}

{% block footer_links %}
    <a href="/contact">Contact</a>
    <a href="https://www.instagram.com/tevmun/" target="_blank">Instagram</a>
    <a href="https://mymun.com/conferences/tevmun-2026" target="_blank">MyMUN</a>
{% endblock %}